/* STYLE SHEET FOR Crochet_Web_Form.html */

body 
{
margin:10px;
background-color:#c2d164;
}

p 
{
margin-top: 9px; 
font-size: 80%;
margin-bottom: 9px;
font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
}

h1
{
margin-top: 9px;
font-weight: bold;
font-size: 150%;
margin-bottom: 10px;
font-family: Times New Roman, Arial, Helvetica;
color: black;
text-align: center;
}

form 
{
	margin: auto;
	position: relative;
	width: 800px;
	height: 600px;
	font-family: Arial, Helvetica, Geneva, Swiss, sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	color: #a442f4;
	border-radius: 10px;
	padding: 27px;
	border: 2px solid #4262f4;
	
}

/**
 * Footer Styles
 */

footer 
{
  margin: auto;
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0;
  background-color: #efefef;
  text-align: center;
  height:0;
  width: 100;
}



